<ion-list-header>
  <ion-label>
    <h2>{{ 'pages.home.expenses-list-title' | translate }}</h2>
  </ion-label>
  <ion-buttons>
    <ion-button (click)="filter.toggle()">
      <ion-icon name="filter" slot="icon-only" size="small"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-list-header>

<dinaro-expenses-filter #filter></dinaro-expenses-filter>
