<ng-container *ngIf="loading || expenses?.length; else empty">
  <ion-list>
    <ng-container *ngIf="loading; else content">
      <dinaro-expense-item
        *ngFor="let skeleton of skeletonItems"
        [loading]="true"
      >
      </dinaro-expense-item>
    </ng-container>

    <ng-template #content>
      <div dinaroAutoAnimate>
        <dinaro-expense-item
          *ngFor="let expense of renderedExpenses"
          [expense]="expense"
        >
        </dinaro-expense-item>
      </div>
    </ng-template>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadNext($event)" threshold="100px">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ng-container>

<ng-template #empty>
  <div class="ion-padding">
    <h4>No expenses</h4>
    <ion-text color="medium">
      <p>Save new expense entries and they will be shown here.</p>
    </ion-text>
  </div>
</ng-template>
