<form (submit)="submit()" [formGroup]="formGroup">
  <ion-list lines="full">
    <ion-list-header>
      <ion-label>{{ 'add-expense.title' | translate }}</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>
        <p>{{ 0 | currency : undefined : 'code' | slice : 0 : 3 }}</p>
      </ion-label>
      <ion-input
        formControlName="amount"
        [placeholder]="'add-expense.amount-input.placeholder' | translate"
        type="number"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea
        formControlName="description"
        [placeholder]="'add-expense.description-input.placeholder' | translate"
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
    </ion-item>

    <ion-popover [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          formControlName="date"
          id="datetime"
          presentation="date"
        ></ion-datetime>
      </ng-template>
    </ion-popover>
  </ion-list>

  <ion-footer>
    <ion-toolbar>
      <ion-button
        [disabled]="formGroup.invalid"
        expand="block"
        type="submit"
        class="ion-margin"
      >
        {{ 'general.save' | translate }}
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</form>
