<dinaro-expense-list-header></dinaro-expense-list-header>

<dinaro-data-card
  [data]="totalExpenses$ | async | currency"
  [label]="'pages.home.expenses-data-card.total-expenses.label' | translate"
></dinaro-data-card>

<ion-content>
  <dinaro-expense-list
    [expenses]="expenses$ | async"
    [loading]="(expenses$ | async) === null"
  ></dinaro-expense-list>
</ion-content>

<dinaro-add-expense-button></dinaro-add-expense-button>
